body{
    background-color: #F2FFE3;
}

.mapdiv{
    margin: auto;
}

.mapdiv path {
    stroke:#b30059;
    stroke-width:3px;
    transition: fill 0.3s;
}

.st0{
    fill:#ffccff;
}


button{
    background-color: purple;
    color: white;
    padding: 10px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    margin:1%;
      border-radius: 5px;
}

button:hover, .dropbtn:focus {
    background-color:#333333;

}

img{
    min-height: 422px;
    min-width: 750px;
    border-radius: 10px;
}

p {
  background-color: lightblue;
  text-indent: 50px;
  text-align: justify;
  font-weight: bold;
  border: 2px #666666;
  border-radius: 5px;
  border-style: dotted solid;
  padding-left: 10px;
  padding-right: 10px;
}
/* ---------------------------------------------------------------------------------------------------- */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */

}
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 5px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Dropdown Button */
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 30px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin:1%;
}
  
/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {

    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 260px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}




/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* ---------------------------------------------------------------------------------------------------- */

.brooklyn {
    color: green;
    position: relative;
    display: inline-block;
}

.brooklyn-content {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.brooklyn-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.brooklyn-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.brooklyn:hover .brooklyn-content {display: block;}

#brooklyn{
    fill:red;
}
#brooklyn:hover {
    fill:#e6e6e6;
}

/* ---------------------------------------------------------------------------------------------------- */

.bronx {
    color: dodgerblue;
    position: relative;
    display: inline-block;
}

.bronx-content {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.bronx-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.bronx-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.bronx:hover .bronx-content {display: block;}

#bronx{
    fill:yellow;
}

#bronx :hover {
    fill:#e6e6e6;
}

/* ---------------------------------------------------------------------------------------------------- */

.queens {
    color: orange;
    position: relative;
    display: inline-block;
}

.queens-content {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.queens-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.queens-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.queens:hover .queens-content {display: block;}

#queens{
    fill:green;
   }
#queens :hover {
    fill:#e6e6e6;
}

.manhattan {
    color: red;
    position: relative;
    display: inline-block;
}

.manhattan-content {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.manhattan-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.manhattan-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.manhattan:hover .manhattan-content {display: block;}

#manhattan{
    fill:purple;
   }
#manhattan :hover {
    fill:#e6e6e6;
}


.staten_island {
    color: black;
    position: relative;
    display: inline-block;
}

.staten_island-content {
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.staten_island-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.staten_island-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.staten_island:hover .staten_island-content {display: block;}

#staten_island{
 fill:orange;
}
#staten_island :hover {
    fill:#e6e6e6;
}
