@charset "UTF-8";


h1{
	
	text-align: center;
	padding: 2em;
	background: #f2cd98;
	margin: 1%;
}


a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	margin-bottom: .5em;
	
}

a:hover, a:active {
    background-color: green;
    color: white;
	margin-bottom: .5em;
	
}
nav {
	margin-left: 38%;
}
