body {
	background: url('tea1.jpg') no-repeat center center fixed;
    background-size: cover;
}

#title {
	position: absolute;
	bottom: 60%;
	left: 25%;
	width: 50%;
	text-align: center;
	border: 5px solid white;
	
}


#title h1 a:link {
	color: black;
	text-decoration: none;
	
}
#title h1 a:visited {
	color: green;
	text-decoration: none;
	
}
#title h1 a:hover{
	color: yellow;
	text-decoration: underline;
	
}
#title h1 a:active {
	color: white;
	text-decoration: none;
	
}