/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);
@import url(https://fonts.googleapis.com/css?family=Carter+One);
body {
	background: url('dog2.jpg') no-repeat center center fixed;
    background-size: cover;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	}
nav{
	position: absolute;
	width: 15%;

}
p {
	text-indent: 30px;
	margin-left: 150px;
    margin-right: 10%;
	padding:1px 16px;
	text-align: justify;
	font-family: 'Architects Daughter', cursive;
	font-size: 22px;
	
	}
ul {
    border-radius: 8px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
    background-color: #f1f1f1;
    position: fixed;
    height: 397px;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 0 8px 16px;
    text-decoration: none;
    
}

li a.active {
    background-color: #e67300;
    color: white;
          
    

}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
	
h1 {
	text-align: center;
	border-bottom: 2px solid #cc6600;
	font-family: 'Carter One', cursive;
	}
a {
    display: block;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px;
    transition: 0.3s;

}

a:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);

}	



#one {
	font-size: 80%;
      text-align: justify;

	
	}
	


	